body {
    text-align: center;
}

header {
    width: 603px;
    margin: 0  auto;
    font-size: 24px;
    display: flex;
    justify-content: space-around;
    margin-bottom: -50px;
}

.scoreData {
    font-size: 60px;
    margin-top: -10px;
}

.stars {
    color: #aeb529;
}

.winScreen {
    display: none;
    position: absolute;
    top: 200px;
    width: 100%;
    height: 600px;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
}

.winScreen p {
    font-size: 60px;
}

.replay {
    font-size: 30px;
    border-radius: 15px;
    padding: 10px 20px;
    background-color: #aeb529;
    cursor: pointer;
}

.loseScreen {
    display: none;
    position: absolute;
    top: 200px;
    width: 100%;
    height: 600px;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
}

.loseScreen p {
    font-size: 60px;
}

.secondsStar {
    position: absolute;
    top: 310px;
    width: 100%;

    display: none;
    justify-content: center;
}

.secondsStar p {
    padding-right: 10px;
    font-size: 60px;
    color: red;
}